*{
    margin: 0;
    padding: 0;

}
.navbar{
    width: 100%;
    background-color: #333143;
    display: flex; 
    position: fixed;
    width: 100%;
    z-index: 2;
}
.navbar li a{
    list-style: none;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.55);
}
.navbar li a:hover{
    color: rgb(255, 255, 255);
    transition: ease-in 0.7s;
}
.navbar li{
    float: right;
    padding-left: 2rem;
    margin-bottom: 1rem;
}
.logo{
    width: 12%;
    margin: 1rem;
    display: inline-block;
}
.logo img{
    width: 40%;
}
.list{
width: 80%;
margin-top: 2rem;
text-align: right;
text-decoration: none;
list-style: none;
 }
.list li{
list-style: none;
 }
.list a{
     text-decoration: none;
}
.text{
    background-color: #277DFD;
    text-align: center;
    padding: 8rem 0;
}
.text h1{
    padding-top: 5rem;
    font-weight: bold;
    font-size: 35px;
    color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text p{
    padding: 1rem 0 2rem 0;
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.startscroling{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    background-color: white;
}
.startscroling:hover{
    background-color: black;
    color: white;
    transition: ease-in 0.5s;
}
.about{
    width: 55%;
    margin: auto;
    margin-top: 8rem;
}
.about h2{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2rem 0;
}
.about p{
    font-size: 1.25rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.632);
    margin: 1rem 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about ul{
    margin: 2rem 0 8rem 0;
    padding: 0 25px;
}
.about ul li{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
}
#services{
    background-color: #F8F9FA;
    padding: 10rem 0;
}
.offer{
    margin: auto;
    width: 55%;
}
.offer h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 30px;
    color: #212529;
    margin: 1rem 0;
}
.offer p{
    font-size: 1.20rem;
    font-weight: 300;
    color: #8c8f91;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact{
    margin: auto;
    width: 55%;
    padding: 10rem 0;
}
.contact h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 30px;
    color: #212529;
    margin: 1rem 0;
}
.contact p{
    font-size: 1.12rem;
    font-weight: 300;
    color: #8c8f91;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.website{
    background-color: #333143;
    padding: 3rem 0;
}
.website p{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}